<%- include('../partials/header') %>

<h1>SIGN UP PAGE</h1>

<h3>FILL OUT FORM GOES HERE</h3>
<form action="/register" method="POST">
    <input type="text" name="firstName" placeholder="First name">
    <input type="text" name="lastName" placeholder="Last name">
    <input type="text" name="email" placeholder='Sign In Email'>
    <input type="submit" value="Make Account">
    <!-- <p><a href="/main">Click here</a> to submit sign up</p> -->
    <p><a href="/">Click here </a>to return to sign in page.</p>

    <%- include('../partials/footer') %>