<%- include('../partials/header') %>

<h1>THIS IS THE SIGN IN PAGE</h1>
<form action="/auth/google" method="get">
    <input type="Submit" value='Login with Google'>
</form>

<%- include('../partials/footer') %>
