<%- include('../partials/header') %>

<h1>MAIN MAPS PAGE!</h1>

<%= title %>

<p><a href="/upperlot">Upper Lot section 1</a></p>
<p><a href="/lowerlot">Lower Lot section 1</a></p>

<%- include('../partials/footer') %>
