<%- include('../partials/header') %>

    <div class="section">
        <a href="/upperlot">Upper Lot section 1</a>
        <a href="/lowerlot">Lower Lot section 1</a>
    </div>
    <%- include('../partials/footer') %>